.Hero
	position: relative
	background-color: #ababab
	&:after
		+transition(all, 0.45s, ease-out, 0.0s)
		position: absolute
		content: ''
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: white
		z-index: 100
	&.show
		&:after
			width: 0%
			left: 100%
	&__headline
		@extend .Section__headline
		position: absolute
		z-index: 999
		opacity: 0
		.show &
			+transition(all, 0.45s, ease-out, 0.35s)
			opacity: 1
	&__body
		position: relative
		width: 100%
		+bp(medium)
			width: 90%
			margin-left: 10%
			height: 84vH
		&:after
			+transition(all, 0.45s, ease-out, 0.35s)
			position: absolute
			content: ''
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: #ababab
			z-index: 100
		.show &
			&:after
				width: 0%
				// left: 100%
	&__slide, &__image
		width: 100%
		height: 100%
		background-position: center
		background-size: cover
	&__image
		margin-left: auto
		margin-right: auto
		position: absolute
	&__videoblocker
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
	&__slide--video
		width: 100%
		height: 100%
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: block
			border: 0
	.swiper-container
		width: 100%
		height: 100%
	.swiper-pagination
		z-index: 99999
		bottom: 0px
		+bp(large)
			bottom: 30px
		.swiper-pagination-bullet
			opacity: 1
			width: 14px
			height: 14px
			vertical-align: middle
			border-radius: 0
			background-color: white
			border: 2px solid rgba(255,255,255,0)
			+transition(all, 0.45s)
		.swiper-pagination-bullet-active
			width: 18px
			height: 18px
			background-color: transparent
			border: 4px solid rgba(255,255,255,1)
	.swiper-slide
		margin: 0 !important
		/* Center slide text vertically */
		display: -webkit-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-box-pack: center
		-ms-flex-pack: center
		-webkit-justify-content: center
		justify-content: center
		-webkit-box-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
		img
			width: 100%
