.Hero
	position: relative
	background-color: #ababab
	&__headline
		@extend .Section__headline
		position: absolute
		z-index: 999
	&__body
		position: relative
		width: 100%
		+bp(medium)
			width: 90%
			margin-left: 10%
			height: 84vH
	&__slide, &__image
		width: 100%
		min-height: 320px
		+bp(large)
			min-height: 600px
		height: 100%
		background-position: center
		background-size: cover
	&__image
		margin-left: auto
		margin-right: auto
		position: absolute
