
.Navigation
	position: fixed
	z-index: 9999

	top: 0
	left: 0
	overflow: scroll
	-webkit-overflow-scrolling: touch
	background-color: rgba(255,255,255,0.9)
	+bp(medium)
		background-color: rgba(255,255,255,0.75)
		overflow: hidden
		+transition(all, 0.75s, ease-out)
	visibility: hidden
	opacity: 0

	.Navigation--show &
		width: 100%
		height: 100vH
		visibility: visible
		opacity: 1
	a
		cursor: pointer
		color: black
		display: block
		position: relative
		text-transform: uppercase
		span
			&:before
				+transition(all, 0.45s, ease-out, 0.0s)
				position: relative
				display: block
				left: 50%
				margin-bottom: -7px
				margin-left: -7px
				margin-right: -7px
				content: ''
				border-bottom: 1px solid black
				width: 0%
			&:hover
				&:before
					left: 0%
					width: 115%
	li
		span
			position: relative
			display: inline-block
			font-size: 0.75em
			letter-spacing: 0.1em
			line-height: 1.25em
			z-index: 10
	&__inner
		margin-top: 80px
		margin-bottom: 80px
		+bp(medium)
			margin-top: inherit
			margin-bottom: inherit
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			+transform(translateX(25%))
		.Navigation--show &
			+transition(all, 0.75s)
			+transform(translateX(0%))
		li
			span
				padding: 10px 0.1em
		>ul
			+bp(medium)
				text-align: left
				position: absolute
				top: 0%
				bottom: 0%
				left: 10%
				+clearfix
			>li
				cursor: pointer
				margin: 0 auto
				text-align: left
				position: relative
				+noselect
				padding: 20px 0 20px 77px
				+bp(medium)
					text-align: center
					padding: 0px 200px
					height: 100%
					float: left
				.Navigation--show &
					+transition(all, 0.8s, ease-out, 0.0s)
					padding: 20px 0 20px 77px
					+bp(medium)
						padding: 0px 50px
				+bp(medium)
					&:after
						content: ''
						width: 1px
						height: 100%
						position: absolute
						right: 0
						top: 0
						overflow: visible
						background-image: url('/assets/images/menu-divider.gif')
						background-repeat: repeat-y
						opacity: 0.25
				>div
					position: relative
					+bp(medium)
						top: 50%
						+transform(translateY(-50%))
					>a
						+fontbold
	&__sub
		text-align: left
		li
			span
				padding: 0px 0.1em
		>li
			display: list-item
			a
				+fontregular()
				&.active
					span
						&:before
							left: 0%
							width: 115%
	&__empty
		display: none !important
		+bp(medium)
			display: list-item
